*
!world_state
!*.go
!go.sum
!go.mod
!migrations
!diesel.toml
!game_state
!web
!worker
!cao-storage-derive
!.cargo
worker/target
!simulation
!release.sh
**/target
**/*~
**/index.node
**/artifacts.json
**/node_modules
**/.DS_Store
**/dockerfile
