*
!rust-toolchain
!src
!migrations
!diesel.toml
!release.sh
!build.sh
!Cargo.lock
!Cargo.toml
!.cargo/
!sqlx-data.json
**/target
**/*~
**/index.node
**/artifacts.json
**/node_modules
**/.DS_Store
**/dockerfile
